@model G3SpiritsReports.Models.ViewModels.MonthlyBrandReportViewModel
@using System.Globalization
@{
    ViewBag.Title = "Index";
}
@helper CustomRenderingOfColumn(int month)
{
    var textInfo = new CultureInfo("en-US", false).TextInfo;
    @textInfo.ToTitleCase(CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(month))
}
<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@Html.DropDownListFor(x => x.CountryId, Model.Countries) 
Date: @Html.EditorFor(model => model.Date)   
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MonthlyBrandReports.FirstOrDefault().Brand.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MonthlyBrandReports.FirstOrDefault().SoldPieces)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.MonthlyBrandReports)
{
        <tr class="Row_@item.MonthlyBrandReportId" >
            <td width="200">
                @Html.DisplayFor(modelItem => item.Brand.Name)
            </td>
            <td width="150">
                <div class="Text_@item.Brand.BrandId">
                    @Html.DisplayFor(modelItem => item.SoldPieces)
                </div>
                <div class="Input_@item.Brand.BrandId" style="display:none;">
                    <input type="text" id="SoldPieces_@item.Brand.BrandId" name="SoldPieces_@item.Brand.BrandId" value="@Html.DisplayFor(modelItem => item.SoldPieces)" style="width:130px;" class="input-number" />
                </div>
            </td>
            <td>
                <div class="Text_@item.Brand.BrandId">
                    @Html.ActionLink("Edit", "Edit", new { BrandId = item.Brand.BrandId })
                </div>
                <div class="Input_@item.Brand.BrandId" style="display:none;">
                    <input type="button" id="Save_@item.Brand.BrandId" name="Save_@item.Brand.BrandId" value="Save" class="save" />&nbsp;&nbsp;<input type="button" id="Cancel_@item.Brand.BrandId" name="Cancel_@item.Brand.BrandId" value="Cancel" class="cancel" />
                </div>
                
            </td>
        </tr>
}

</table>
@Scripts.Render("~/bundles/jqueryui")
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/monthlybrandreport")
